<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Display Value of a model -->

<h2 th:text="${students.get(0).getFirstName()}">    </h2>
<h2 th:text="${students.get(0).getLastName()}">    </h2>

<!-- Concatenation--->

<h2 th:text="${'Hello ' + students.get(0).getFirstName()}"> </h2>
<h2 th:text="${students.get(0).getFirstName()+' '+ students.get(0).getLastName()}"></h2>

<h2>
    <a th:href="@{http://cydeo.com}">Cydeo Page</a>
</h2>

<h2>
    <a th:href="@{/student/welcome}">welcome page</a>
</h2>



</body>
</html>